.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

}

.image {
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #99cd85;
    margin-bottom: 0.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 1.5rem;
    background-color: #3a3a3a;
    width: 100%;

    font-size: medium;
}

.blockTitle {
    color: #99cd85;
    background-color: #3a3a3a;
    border: none !important;
}

.label {
    display: block;
    margin-top: 10px;
    color: #99cd85;
}

.input,
.textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #333;
    color: white;
    transition: 0.5s;
    resize: none;
}

.input::placeholder,
.textarea::placeholder {
    color: #adadad !important;
}

.input:focus,
.textarea:focus {
    outline: none;
    border-color: #99cd85;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.textarea {
    resize: vertical;
}

.footer {
    display: flex;
    justify-content: center !important;
    align-items: center;
    gap: 10px;
    background-color: #3a3a3a !important;
    border-top: 2px solid #99cd85;
    padding: 1rem;
    border: none !important;
}

.btnclose, .btnedit{
    background-color: #3a3a3a;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 25px;
}


.btnedit{
    border: 1px solid #4caf50;
    color: #4caf50;
}

.btnclose {
    border: 1px solid #ff6961;
    color: #ff6961;
}

.btnclose:hover, .btnedit:hover {
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-color: #99cd85; 
}

.containerBtns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}